@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Noto Sans" !important;
}

/** Navbar **/
.navbar {
  text-transform: uppercase !important;
  font-size: 1.1em !important;
  font-weight: 500;
}

.active {
  color: rgb(251, 146, 60) !important;
  font-weight: 600 !important;
}/*# sourceMappingURL=App.css.map */